services:

  web:
    build: .
    image: original-app:latest
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -e production -b 0.0.0.0 -p 3000"
    env_file:
      - .env
    environment:
      RAILS_ENV: production
    depends_on:
      - redis

  nginx:
    image: nginx:1.28.2
    ports:
      - "443:443"
    depends_on:
      - web
    
    volumes:
      # - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro # /etc/nginx/conf.d/ というフォルダの中にある .conf という名前のファイルを全部読んで
      # ro　コンテナ側から勝手にファイルを書き換えないでね
       - ./public:/usr/share/nginx/html:ro
      # あらかじめ中身を書いたファイルを準備しておく default.conf
       - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
       - ./certbot/www:/var/www/certbot
       - ./certbot/conf:/etc/letsencrypt
  certbot:
    image: certbot/certbot:v2.10.0
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  redis:
    image: redis:7.2
  worker:
    image: original-app:latest
    command: bundle exec sidekiq -e production
    env_file:
      - .env
    environment:
      RAILS_ENV: production
    depends_on:
      - redis

# 本番環境では　http://43.207.165.47(EC2のIP):3000