services:
  db:
   # Docker Hubという市場から「完成品」を借りてくる
    image: mysql:8.0.36
    env_file: 
      - .env.${RAILS_ENV:-development}
    profiles:
      - dev_only
  
  redis:
    image: redis:7.2
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    env_file: 
      - .env.${RAILS_ENV:-development}
    environment:
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - redis

  worker:
    build: .
    env_file:
      - .env.${RAILS_ENV:-development}
    environment:
      REDIS_URL: redis://redis:6379/1
    command: bundle exec sidekiq
    depends_on:
      - redis

  