services:

  web:
    build:
      context: .            
      args:                  
        DATABASE_HOST: ${DATABASE_HOST}
        REDIS_URL: ${REDIS_URL}
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_USER: ${MYSQL_USER}
        AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
        AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
        AWS_REGION: ${AWS_REGION}
        AWS_BUCKET: ${AWS_BUCKET}
    image: original-app:latest
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -e production -b 0.0.0.0 -p 3000"
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: production
    depends_on:
      - redis
  redis:
    image: redis:7.2
  worker:
    image: original-app:latest
    command: bundle exec sidekiq -e production
    env_file:
      - .env
    environment:
      RAILS_ENV: production
    depends_on:
      - redis
