services:

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -e production -b 0.0.0.0 -p 3000"
    env_file:
      - .env
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: production
    depends_on:
      - redis
  redis:
    image: redis:7.2
  worker:
    build: .
    command: bundle exec sidekiq -e production
    env_file:
      - .env
    environment:
      RAILS_ENV: production
    depends_on:
      - redis

  #nginx:
    #volumes:
      #- ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      #- ./public:/rails/public:ro