services:
  db:
    image: mysql:8.0.36
    # .env ファイルを読み込む
    env_file: .env
    environment:
      # MySQLコンテナが起動時に参照する環境変数名を、.env内の名前に合わせる
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME_DEVELOPMENT}
      # 特定のユーザーを作りたい場合は追加
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  redis:

    image: redis:7.2

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    # Railsコンテナにも .env を読み込ませる
    env_file: 
    - .env
    - .env.${RAILS_ENV:-development}
    #- rails_storage:/rails/storageにすると表示されなくなる
    volumes:
      - .:/rails
      - rails_storage:/app/storage
      #"ホスト:コンテナ" PCから直接docker内のmysqlにアクセスできる
    ports:
      - "3000:3000"
    environment:
      # Rails側のhostはdocker上のサービス名（db）に向ける
      # 環境ごとに Docker を起動する前に外部で RAILS_ENV=production とセットする必要がある
      DATABASE_HOST: db
      REDIS_URL: redis://redis:6379/1
      RAILS_ENV: ${RAILS_ENV:-development}
    depends_on:
      - db
      - redis

  worker:
    # 修正1: build の後にドットが必要です。
    build: .
    # 修正2: Rails本体（web）と同じ .env を読み込ませないとDBに接続できません
    env_file: .env
    command: bundle exec sidekiq
    volumes:
      # 修正3: webコンテナが「/rails」なので、ここも合わせる必要があります
      - .:/rails
    # webコンテナと同じ環境変数が必要
    environment:
      DATABASE_HOST: db
      REDIS_URL: redis://redis:6379/1
      RAILS_ENV: ${RAILS_ENV:-development}
    depends_on:
      - db
      - redis

volumes:
  db_data:
  rails_storage:

  