services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -e production -b 0.0.0.0 -p 3000"
    env_file:
      - .env.production
    volumes:
      - .:/rails
      - rails_storage:/rails/storage
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: production
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - redis

  redis:
    image: redis:7.2

  worker:
    build: .
    command: bundle exec sidekiq -e production
    env_file:
      - .env.production
    volumes:
      - .:/rails
    environment:
      RAILS_ENV: production
      REDIS_URL: redis://redis:6379/1
    depends_on:
      - redis

volumes:
  rails_storage:

