.swiper {
  
  height: 400px
}

.swiper-slide {
  width: auto;
  height: 400px;
  background-position: center ;
  background-size: cover;
}

.click-area {
  position: absolute;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: 10;
}

.top {
  top: 0
}

.bottom {
  bottom: 0
}

.menu-bar {
  position: absolute;
  bottom: 0px;
  background-color: black;
  height: 30px;
  width: 100%;
  z-index: 10;
}