<div class="page-container"> 

<div class="creator-setting-grid">
  <% @portfolios.each do |portfolio| %>
    <div class="creator-setting-card">
      <div class="creator-setting-info">
          <%= user_avatar(portfolio.user, 32) %>
        <span class="creator-name-container"><%= portfolio.user.name %></span>
      </div>
      
      <div class="creator-setting-image-container">
        <% if portfolio.images.size > 1 %>
          <div class="swiper">
            <div class="swiper-wrapper">
              <% portfolio.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag default_image(image), class: "creator-setting-img" %>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        <% elsif portfolio.images.size == 1 %>
          <%= image_tag default_image(portfolio.images.first), class: "creator-setting-img" %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
<div>