<div class="portfolio-grid">
  <% @portfolios.each do |portfolio| %>
    <div class="portfolio-card">

      <div class="portfolio-info">
        <div class="creator-avatar">
          <%= user_avatar(portfolio.user) %>
        </div>
        <span class="creator-name"><%= portfolio.user.name %></span>
      </div>
      
      <div class="portfolio-image-container">
        <% if portfolio.images.count > 1 %>
          <div class="swiper">
            <div class="swiper-wrapper">
              <% portfolio.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image, class: "portfolio-img" %>
                </div>
              <% end %>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        <% elsif portfolio.images.count == 1 %>
          <%= image_tag portfolio.images.first, class: "portfolio-img" %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>