<div data-controller="flash">
<% flash.each do |key, message| %>
  <div class="flash <%= key %> text-white text-base rounded py-4 px-6" style="position: fixed; top: 30px; left: 50%;
transform: translateX(-50%); z-index: 50; background-color: #362F2F">
    <%= message %>
  </div>
<% end %>
</div>
