<% if current_user.payjp_customer_id.present? %>
<h2>カード情報変更</h2>
<%= form_with url: payment_path, local: true, data: { turbo: false } do |f| %>
<script
    src="https://checkout.pay.jp/"
    class="payjp-button"
    data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
    data-text="カード情報を変更"
    data-submit-text="カード情報を変更する"
  ></script>
<% end %>
<% else %>
<h2>カード情報登録</h2>
<%= form_with url: payment_path, local: true, data: { turbo: false } do |f| %>
<script
    src="https://checkout.pay.jp/"
    class="payjp-button"
    data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
    data-text="カード情報を登録"
    data-submit-text="カード情報を保存する"
  ></script>
<% end %>
<% end %>