<div style="font-family: sans-serif; color: #333; line-height: 1.6; max-width: 600px; margin: 0 auto;">
  <h2 style="color: #2c3e50;"><%= @name %> 様よりお問い合わせ</h2>
  
  <p>氏名:<br>
  <%= @name %> </p>

  <p>メールアドレス:<br>
  <%= @email %></p>

  
  <p>内容:<br>
  <%= @content %></p>

</div>