<% @support_histories.each do |support_history| %>
  <% if support_history.request.completed?%>
    <%= image_tag support_history.request.deliverable %>
    <p>リクエストタイトル</p><%= support_history.request.title %>
    <p>ステータス</p>
    <%= if support_history.request.status ==  %>
    <% end %>
    <%= link_to "ダウンロード", download_deliverable_path(support_history.request), class: "small-button" %>
  <% end %>
<% end %>

