/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'MinneSystem', 'MinneSansSerif', 'MinneHiragino', 'メイリオ', 'Meiryo, Osaka', 'MS UI Gothic', 'MS Ｐゴシック', 'MS PGothic', sans-serif;
  color: #575756;
  font-size: 14px;
  letter-spacing: 0.35px;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f8fa;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box; 
}

li {
  list-style: none;
 }

.select-reward,
.reward-desc,
.card-select,
.address-input {
  width: 600px;
}

.selector{
position: fixed; top: 150px; left: 100px; border-width: 1px; border-style: solid; border-radius: 0.25rem; background-color: white; display: inline-block;
}

.notification-list-panel{
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 50; 
  height: calc(100vh - 100px);
  overflow-y: auto;

  background-color: #fff; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); 
}

.notification-list-panel.active{
  display: block;
}
